
.container-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 3em;
    
}

.price {
    font-size: 2rem;
    font-weight: 700;
}

.card {
    border-radius: 1.3em;
    overflow: hidden;
    padding-bottom: 1.5em;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.grid-button-container {
    display: flex;
    flex-direction: row;
}

h1 { 
    margin-top: 2em; 
    font-weight: 700;
    color: #303030;
}

h4 { 
    color: #727272;
}